.login-warp {
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-textfield {
  width: 90%;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem;
}

.login-button {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.login-signup-route {
  font-size: x-small;
  margin-bottom: 1rem;
}